@import "mixins";

$color-primary: black;
$color-secondary: #e67e22;

* {
	box-sizing: border-box;
}

html { // fix suggested by Anton Grishin. No scroll-jump, while scroll appears.
	margin-left: calc(100vw - 100%);
}

body {
	margin: 0;
	background-color: #fefefe;
	font-family: "Roboto", sans-serif;
}

.container {
	max-width: 810px;
	width: 95%;
	margin: 0 auto;
	overflow: auto;
	@include font("primary");
	.title {
		text-align: center;
		margin: 20px 0px;
		h1 {
			@include font("monospace");
			text-align: center;
			font-size: 46px;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 2px;
			padding: 10px;
			display: inline-block;
			border: 10px solid black;
			margin: 0 auto;
			background-color: #fff;
		}
	}
	nav {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		width: 300px;
		height: 40px;
		margin: 0 auto;
		list-style: none;
		a {
			text-decoration: none;
			color: $c-primary;
			font-weight: 500;
			position: relative;
			padding: 10px;
		}
		a:after {
			content: "";
			display: block;
			position: absolute;
			bottom: 0;
			height: 2px;
			width: 100%;
			background-color: $c-primary;
		}
		a:hover {
			color: $c-secondary;
			&:after {
				background-color: $c-secondary;
			}
		}
	}
	.subtitle {
		text-align: center;
		margin: 30px 0px;
		h2 {
			font-size: 36px;
			font-weight: bold;
			margin: 0;
		}
	}
}

.search-container {
	display: block;
	width: 100%;
	height: 50px;
	position: relative;
	form {
		margin: 0;
		padding: 0;
		width: 100%;
		position: relative;
		height: 100%;
		input {
			border: 0;
			outline: 0;
			border-bottom: 1px solid transparentize($c-primary, 0.7);
			height: 100%;
			width: 100%;
			padding: 10px;
			background-color: transparent;
			transition: border-bottom 100ms ease-in-out;
			&:focus {
				border-bottom: 1px solid transparentize($c-primary, .2);
			}
		}
	}
}

.output{
	width: calc(100% - 10px);
	position: relative;
	margin: 0 auto;
	margin-top: 20px;
	.output-block {
		width: 100%;
		height: auto;
		max-height: 50px;
		display: block;
		position: relative;
		overflow: hidden;
		background-color: transparentize($c-primary, 0.95);
		margin: 5px 0px;
		transition: max-height 200ms ease-in-out;
		&.open {
			max-height: 200px;
			button:after {
				transform:translate(5px, 5px) rotateZ(-90deg);
			}
		}
	}
	.content {
		padding: 20px;
		a {
			color: $c-secondary;
			text-decoration: none;
			&:before {
				content: "</>";
				color: $c-primary;
				font-weight: bold;
				padding-right: 10px;
			}
		}
	}
	button.output-title {
		width: 100%;
		height: 50px;
		display: block;
		position: relative;
		overflow: hidden;
		text-align: left;
		border: 0;
		outline: 0;
		color: $c-primary;
		padding: 0px 15px;
		transition: background-color 50ms ease-in-out, color 50ms ease-in-out;
		&:hover {
			cursor: pointer;
			color: $c-secondary;
			background-color: transparentize($c-secondary, 0.95);
		}
		&:after {
			content: "";
			@include font("monospace");
			transform: rotateZ(0deg);
			font-weight: bolder;
			float: right;
			width: 0;
			height: 0;
			border: 10px solid transparent;
			border-right: 10px solid black;
			transition: transform 150ms ease-in-out;
		}
	}
}
