doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title PDT Исходники
    script(src='https://unpkg.com/react@latest/dist/react.js')
    script(src='https://unpkg.com/react-dom@latest/dist/react-dom.js')
    script(src='https://unpkg.com/babel-standalone@6.15.0/babel.min.js')
    link(rel="stylesheet", href="website--css/styles.css")
  body
    #container
    script(type='text/babel', src='website--js/main.js')
