mixin stupidTopik
  h1 Heading
  p ОЧЕНЬ МНОГО БЕСПОЛЕЗНОГО ТЕКСТА, КОТОРЫЙ ВООБЩЕ ОН И НЕ НУЖЕН СОВСЕМ-СОВСЕМ,НЕЯСНО ДЛЯ ЧЕГО ЕГО ПЕЧАТАЛИ,КОМУ ЭТО ВЫГОДНО,МОЖЕТ КТО-ТО ПРОПЛАТИЛ,ИЛИ ЭТО ЗАГОВОР,ИЛИ НЕСМЕШНАЯ ШУТКА,НО В ЦЕЛОМ ЭТОТ ТЕКСТ БЕСПОЛЕЗЕН И НЕ НЕСЁТ НИКАКОЙ СМЫСЛОВОЙ НАГРУЗКИ И ТЫ ТОЛЬКО ЗРЯ ЕГО СЕЙЧАС ЧИТАЕШЬ ХВАТИТ ЭТО ТЕРПЕТЬ!

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Pre
    
    //script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
    script(src="js/main.js")
    
    link(rel="stylesheet", href="css/styles.css")
  body
    #progress-line
    #wrapper
      +stupidTopik
      +stupidTopik
      +stupidTopik
      +stupidTopik
      +stupidTopik
      +stupidTopik
      +stupidTopik
      +stupidTopik
      +stupidTopik
      +stupidTopik
      +stupidTopik
      
