@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;

  background-image: radial-gradient(ellipse at 50vw 50vh, #fcfcfc, #fff);
  background-color: #f3f3f3
}

p.cad{
  font-family: 'Open Sans';
  font-size: 38px;
  font-weight: 300;
  text-transform: uppercase;
  color: #2c2c2c;
  pointer-events: none;
}
