@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic,cyrillic-ext')

$c--dark-blue: #2c3e50
$c--light-blue: #34495e
$c--gray: #bdc3c7
$c--light-gray: #f3f7f8

body
  font-family: "Open Sans", sans-serif
  box-sizing: border-box
  height: 100vh
  background-color: $c--light-gray
  color: $c--light-blue
  h1
    line-height: 100%
#container
  width: 90%
  max-width: 1100px
  padding: 60px 30px 0px 30px
  min-width: 320px
  margin: 0 auto
  h1
    font-weight: 800
    font-size: 64px
    text-indent: 30px
    padding: 0
    margin: 0
  p.intro
    font-weight: 400
    text-indent: 30px
    padding-top: 30px
    font-size: 18px
