doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Array Filter
    link(rel="stylesheet", href="styles.css")
  body
    .container
      h1 Javascript Array.filter()
      input#search--input(placeholder="Type your thing")
      div#items
    script(src="index.js")
