doctype html
html
  head
    meta(charset='UTF-8')
    title Dot Digit Input
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
    link(rel='stylesheet', href='css/style.css')
  body
    .container
      h1 Dot digit input
      p Type the code that you received in your e-mail below:
      #inputs.inputs
        input(maxlength="2" placeholder="•" value="")
        input(maxlength="2" placeholder="•" value="")
        input(maxlength="2" placeholder="•" value="")
        input(maxlength="1" placeholder="•" value="")
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='js/index.js')
